body {
    background-size: cover;
    background-repeat: no-repeat;
}

.heading {
    width: 100%;
    box-shadow: 5px 5px 5px gray;
    font-size: 25px;
    margin-top: 0px;
    height: 70px;
}

#footer {
    width: 100%;
    background-color: gray;
    color: white;
    bottom: 0px;
    position: fixed;
    padding: 8px;
    font-size: 20px;
    font-family: 'Newsreader', serif;
}

#object_name {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

#status {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

canvas {
    border: 4px solid gainsboro;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
}


#start {
    font-size: 19px;
}

#ob {
    font-size: 21px;
    color: white;
}

#ph {
    font-size: 17px;
    color: rgb(56, 56, 56);
}

#name_input {
    border-radius: 4px;
    width: 450px;
    height: 40px;
    border: 2px solid gray;
}